<Dynamic::Ui::Navigation::Skip-Link />
<div local-class="index_page">
  <header local-class="index_page_header">
    <div local-class="index_page_logo_container">
      <Dynamic::Ui::Navigation::Logo />
    </div>
    {{#if (media 'isSmall')}}
    {{!-- template-lint-disable no-duplicate-landmark-elements --}}
    <nav local-class="index_page_mobile_navigation_container">
      <Dynamic::Ui::Navigation::Mobile
        @routeSlotOne={{this.welcomeRoute}}
        @routeSlotTwo={{this.servicesRoute}}
        @routeSlotThree={{this.aboutRoute}}
        @routeSlotFour={{this.visitRoute}} />
    </nav>
    {{/if}}
    {{#if (or (media 'isMedium') (media 'isLarge') (media 'isWide'))}}
    <nav local-class="index_page_desktop_navigation_container">
      <Dynamic::Ui::Navigation::Desktop
        @routeSlotOne={{this.welcomeRoute}}
        @routeSlotTwo={{this.servicesRoute}}
        @routeSlotThree={{this.aboutRoute}}
        @routeSlotFour={{this.visitRoute}} />
    </nav>
    {{/if}}
  </header>
  <div local-class="index_page_body">
    <main local-class="index_page_content_container">
      <span local-class="index_page_image_container">
        <picture>
        {{#if (media 'isSmall')}}
          <source
            srcset='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/aa7880bf-5892-4750-639c-2305238fb600/300x300Cover'
            loading="eager"
            alt="Bay Chiropractic Center staff - Blaine Curtis, Monica, Emma."
            type="image/webp">
          <img
            src='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/aa7880bf-5892-4750-639c-2305238fb600/300x300Cover'
            loading="eager"
            alt="Bay Chiropractic Center staff - Blaine Curtis, Monica, Emma.">
        {{/if}}
        {{#if (media 'isMedium')}}
          <source
            srcset='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/aa7880bf-5892-4750-639c-2305238fb600/300x300Cover'
            loading="eager"
            alt="Bay Chiropractic Center staff - Blaine Curtis, Monica, Emma."
            type="image/webp">
          <img
            src='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/aa7880bf-5892-4750-639c-2305238fb600/300x300Cover'
            loading="eager"
            alt="Bay Chiropractic Center staff - Blaine Curtis, Monica, Emma.">
        {{/if}}
        {{#if (media 'isLarge')}}
          <source
            srcset='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/aa7880bf-5892-4750-639c-2305238fb600/400x400Cover'
            loading="eager"
            alt="Bay Chiropractic Center staff - Blaine Curtis, Monica, Emma."
            type="image/webp">
          <img
            src='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/aa7880bf-5892-4750-639c-2305238fb600/400x400Cover'
            loading="eager"
            alt="Bay Chiropractic Center staff - Blaine Curtis, Monica, Emma.">
        {{/if}}
        {{#if (media 'isWide')}}
          <source
            srcset='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/aa7880bf-5892-4750-639c-2305238fb600/800x800Cover'
            loading="eager"
            alt="Bay Chiropractic Center staff - Blaine Curtis, Monica, Emma."
            type="image/webp">
          <img
            src='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/aa7880bf-5892-4750-639c-2305238fb600/800x800Cover'
            loading="eager"
            alt="Bay Chiropractic Center staff - Blaine Curtis, Monica, Emma.">
        {{/if}}
        </picture>
        </span>
      <div local-class="index_page_information_container">
        <div local-class="index_page_copy">
          <h1><b>Welcome to Bay Chiropractic Center!</b></h1>
          <p>147 Park St. Rockland</p>
          <p><b><span local-class="blue_text">**Bay Chiropractic Center is proud to announce the 2024 addition of Dr. Emma Davis to our practice! Read more about Emma on our<LinkTo @route="about" aria-label="About page"> About</LinkTo> page.</span></b></p>
          <p>Dr. Curtis started Bay Chiropractic Center in 1996 and continues serving MidCoast Maine by offering complete, cutting edge chiropractic care in a comfortable and friendly office setting.</p>
          <p>
            <b>New patients</b> | Please call 207-596-6700 and we can email you a link to fill out paperwork.
          </p>
          <p>
            <b>Dr. Emma Davis and the Webster Technique</b> | <a href="//icpa4kids.com/find-a-pediatric-chiropractor/?chiropractor=NDIyNTI2" target="_blank" rel="noopener noreferrer" aria-label="Link to new information on Dr. Davis">Link to information on the Webster Technique</a>
          </p>
          <p><b>We are now a paperless office!</b> | We send text reminders for appointments and emails for receipts or any other paperwork.</p>
          <p><b>Services provided</b> | Chiropractic adjustments with a variety of therapies for treating pain and soft tissue damage in the office including: ultrasound, interferential, TENS, Kinesiotape, cold laser, and Radial Pulse Wave. We specialize in sports injuries and optimizing performance throughout training and competition.</p>
          <p><b>Health insurance</b> | We are no longer contracted with any private health insurance networks. All patients will be self-pay at time of service. We will provide the necessary paperwork, upon request, so that you may submit the claim to your insurance company.</p>
          <p><b>Medicare patients</b> | We will continue to bill MEDICARE PART B on your behalf if you have a Traditional plan NOT a resold or replacement plan such as Medicare Advantage. Call us if you are unsure which you have.</p>
        </div>
        <div local-class="index_page_copy">
          <h2><b>Our Fees</b></h2>
          <div local-class="index_page_table">
            <div local-class="index_page_table_section">
              <div local-class="index_page_table_cell_header">
                <span>Service</span>
              </div>
              <div local-class="index_page_table_cell_header middle_cell">
                <span>Cost</span>
              </div>
              <div local-class="index_page_table_cell_header">
                <span>Maximum cost</span>
              </div>
            </div>
            <div local-class="index_page_table_section">
              <div local-class="index_page_table_cell">
                <span>New patient examination</span>
              </div>
              <div local-class="index_page_table_cell middle_cell">
                <span>$115</span>
              </div>
              <div local-class="index_page_table_cell">
                <span>$205</span>
              </div>
            </div>
            <div local-class="index_page_table_section">
              <div local-class="index_page_table_cell">
                <span>Chiropractic Adjustment</span>
              </div>
              <div local-class="index_page_table_cell middle_cell">
                <span>$45</span>
              </div>
              <div local-class="index_page_table_cell">
                <span>$70</span>
              </div>
            </div>
            <div local-class="index_page_table_section">
              <div local-class="index_page_table_cell">
                <span>Re-examinations</span>
              </div>
              <div local-class="index_page_table_cell middle_cell">
                <span>$65</span>
              </div>
              <div local-class="index_page_table_cell">
                <span>$90</span>
              </div>
            </div>
            <div local-class="index_page_table_section">
              <div local-class="index_page_table_cell">
                <span>Ultrasound, interferential stimulation</span>
              </div>
              <div local-class="index_page_table_cell middle_cell">
                <span>$20</span>
              </div>
              <div local-class="index_page_table_cell">
                <span>$35</span>
              </div>
            </div>
            <div local-class="index_page_table_section">
              <div local-class="index_page_table_cell">
                <span>Radial Pressure Wave (Shockwave therapy)</span>
              </div>
              <div local-class="index_page_table_cell middle_cell">
                <span>$35</span>
              </div>
              <div local-class="index_page_table_cell">
                <span>$35</span>
              </div>
            </div>
          </div>
        </div>
        <footer local-class="index_page_footer_container">
          <Dynamic::Ui::Footer />
        </footer>
      </div>
    </main>
  </div>
</div>