<Dynamic::Ui::Navigation::Skip-Link />
<div local-class="services_page">
  <header local-class="services_page_header">
    <div local-class="services_page_logo_container">
      <Dynamic::Ui::Navigation::Logo />
      {{#if (media 'isSmall')}}
      <address local-class="contact_container" aria-label="Our phone number">
        <div local-class="phone_number">
          Call us (207) 596-6700
        </div>   
      </address>
      {{/if}}
    </div>
    {{#if (media 'isSmall')}}
    {{!-- template-lint-disable no-duplicate-landmark-elements --}}
    <nav local-class="services_page_mobile_navigation_container">
      <Dynamic::Ui::Navigation::Mobile 
        @routeSlotOne={{this.welcomeRoute}} 
        @routeSlotTwo={{this.servicesRoute}}
        @routeSlotThree={{this.aboutRoute}} 
        @routeSlotFour={{this.visitRoute}} />
    </nav>
    {{/if}}
    {{#if (or (media 'isMedium') (media 'isLarge') (media 'isWide'))}}
    <nav local-class="services_page_desktop_navigation_container">
      <Dynamic::Ui::Navigation::Desktop 
        @routeSlotOne={{this.welcomeRoute}} 
        @routeSlotTwo={{this.servicesRoute}}
        @routeSlotThree={{this.aboutRoute}} 
        @routeSlotFour={{this.visitRoute}} />
      <address local-class="contact_container" aria-label="Our phone number and email">
        <div local-class="phone_number">
          Call us (207) 596-6700
        </div>   
      </address>
    </nav>
    {{/if}}
  </header>
  <div local-class="services_page_body">
    <main local-class="services_page_content_container">
      <span local-class="services_page_image_container">
        {{#if (media 'isSmall')}}
        <picture>
          <source 
            srcset="https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/5a764029-e53d-4ac3-fae2-462d30913500/432x125"
            loading="eager"
            alt="Chiropractor table."
            type="image/webp">
          <img
            src="https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/5a764029-e53d-4ac3-fae2-462d30913500/432x125"
            loading="eager"
            alt="Chiropractor table.">
        </picture>
        {{/if}}
        {{#if (media 'isMedium')}}
        <picture>
          <source 
            srcset='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/647f3aa0-72b1-4161-857d-b355ec6b9f00/932x125'
            loading="eager"
            alt="Chiropractor table."
            type="image/webp">
          <img
            src='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/647f3aa0-72b1-4161-857d-b355ec6b9f00/932x125'
            loading="eager"
            alt="Chiropractor table.">
        </picture>
        {{/if}}
        {{#if (or (media 'isLarge') (media 'isWide'))}}
        <Structural::ImageMasonryBlock
          @imageOne={{this.imageOne}}
          @imageOneFallback={{this.imageOneFallback}}
          @imageOneAltLabel={{this.imageOneAltLabel}}
          @imageTwo={{this.imageTwo}}
          @imageTwoFallback={{this.imageTwoFallback}}
          @imageTwoAltLabel={{this.imageTwoAltLabel}}
          @imageThree={{this.imageThree}}
          @imageThreeFallback={{this.imageThreeFallback}}
          @imageThreeAltLabel={{this.imageThreeAltLabel}}
          @imageFour={{this.imageFour}}
          @imageFourFallback={{this.imageFourFallback}}
          @imageFourAltLabel={{this.imageFourAltLabel}}
        />
        {{/if}}
      </span>
      <div local-class="services_page_information_container">
        <div local-class="services_page_copy">
            <h1><b>Chiropractic Medicine</b></h1>
            <p>Chiropractic is a health care science based upon the relationship between the skeletal system and the nervous system. Positional changes or fixations in the joints can irritate or compress nerves or the spinal cord and cause problems along the nerve pathway. These can happen through trauma, accidents, falls, sports injuries, repetitive motions, or often just a simple wrong movement.</p>
            <p>This typically leads to a breakdown of the normal biomechanics of the muscles, tendons and joints and ultimately causes pain, swelling or nerve symptoms like numbness, tingling and weakness. Chiropractic is the art and science of detecting, diagnosing and correcting these problems.</p>
        </div>
        <div local-class="services_page_copy">
          <h2><b>Our Services</b></h2>
          <div local-class="services_page_table">
            <div local-class="services_page_table_section">
              <div local-class="services_page_table_cell_header gapped_cell">
                <span>Service</span>
              </div>
              <div local-class="services_page_table_cell_header">
                <span>Description</span>
              </div>
            </div>
            <div local-class="services_page_table_section">
              <div local-class="services_page_table_cell gapped_cell">
                <span>Hands-on adjustment</span>
              </div>
              <div local-class="services_page_table_cell">
                <span>A hands-on adjustment occurs when a chiropractor applies short, quick force to the joints in order to correct a misalignment, increase range of motion, or release pressure on nerves. Main techniques include Diversified/HVLA, Thompson drop technique and Cox flexion/distraction.</span>
              </div>
            </div>
            <div local-class="services_page_table_section">
              <div local-class="services_page_table_cell gapped_cell">
                <span>Ultrasound</span>
              </div>
              <div local-class="services_page_table_cell">
                <span>Ultrasound therapy is a non-invasive, generally painless treatment. It has been FDA approved to help treat a variety of pain conditions.</span>
              </div>
            </div>
            <div local-class="services_page_table_section">
              <div local-class="services_page_table_cell gapped_cell">
                <span>Activator / Impulse adjuster</span>
              </div>
              <div local-class="services_page_table_cell">
                <span>For those who prefer a lighter touch we utilize the Activator, a hand held tool that imparts a much lighter input to the joints. An impulse adjuster is a step between an Activator and hands-on adjusting allowing us to use many light taps to move the joint instead of a single movement.</span>
              </div>
            </div>
            <div local-class="services_page_table_section">
              <div local-class="services_page_table_cell gapped_cell">
                <span>KT Tape</span>
              </div>
              <div local-class="services_page_table_cell">
                <span>KT Tape is designed to provide drug-free pain relief and flexible support to help keep you and your muscles active and recovering. If an active lifestyle is your priority, and pain, post-workout muscle soreness, or injury are constantly keeping you from your daily movement or goals, KT Tape is for you.</span>
              </div>
            </div>
            <div local-class="services_page_table_section">
              <div local-class="services_page_table_cell gapped_cell">
                <span>Radial Pressure Wave</span>
              </div>
              <div local-class="services_page_table_cell">
                <span>Radial Pressure Wave or RPW is another FDA approved therapeutic modality used to treat tendinopathies, bursitis, fasciitis, trigger points and chronic muscular strains. RPW or Shockwave, as it is also known, is widely used by physical therapists, chiropractors veterinarians, podiatrists, and is the same non-invasive treatment used by urologists to break up kidney stones.</span>
              </div>
            </div>
          </div>
        </div>
        <footer local-class="services_page_footer_container">
          <Dynamic::Ui::Footer />
        </footer>
      </div>
    </main>
  </div>
</div>