<Dynamic::Ui::Navigation::Skip-Link />
<div local-class="wrong_url_page">
  <header local-class="wrong_url_page_header">
    <div local-class="wrong_url_page_logo_container">
      <Dynamic::Ui::Navigation::Logo />
    </div>
    {{#if (media 'isSmall')}}
    {{!-- template-lint-disable no-duplicate-landmark-elements --}}
    <nav local-class="wrong_url_page_mobile_navigation_container">
      <Dynamic::Ui::Navigation::Mobile
        @routeSlotOne={{this.welcomeRoute}}
        @routeSlotTwo={{this.servicesRoute}}
        @routeSlotThree={{this.aboutRoute}}
        @routeSlotFour={{this.visitRoute}} />
    </nav>
    {{/if}}
    {{#if (or (media 'isMedium') (media 'isLarge') (media 'isWide'))}}
    <nav local-class="wrong_url_page_desktop_navigation_container">
      <Dynamic::Ui::Navigation::Desktop
        @routeSlotOne={{this.welcomeRoute}}
        @routeSlotTwo={{this.servicesRoute}}
        @routeSlotThree={{this.aboutRoute}}
        @routeSlotFour={{this.visitRoute}} />
    </nav>
    {{/if}}
  </header>
  <div local-class="wrong_url_page_body">
    <main local-class="wrong_url_page_content_container">
      <span local-class="wrong_url_page_image_container">
        <picture>
        {{#if (media 'isSmall')}}
          <source
            srcset='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/7a341fce-9d24-420b-cfdf-c519287fb600/320x125'
            loading="eager"
            alt="Bay Chiropractic Center Building."
            type="image/webp">
          <img
            src='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/7a341fce-9d24-420b-cfdf-c519287fb600/320x125'
            loading="eager"
            alt="Bay Chiropractic Center Building.">
        {{/if}}
        {{#if (media 'isMedium')}}
          <source
            srcset='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/92926728-69ac-403b-11bb-8f1cee151700/520x125'
            loading="eager"
            alt="Bay Chiropractic Center Building."
            type="image/webp">
          <img
            src='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/92926728-69ac-403b-11bb-8f1cee151700/520x125'
            loading="eager"
            alt="Bay Chiropractic Center Building.">
        {{/if}}
        {{#if (media 'isLarge')}}
          <source
            srcset="https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/07e86c0d-6e7a-4747-e4f1-d58052ef9900/400x400"
            loading="eager"
            alt="Bay Chiropractic Center Building."
            type="image/webp">
          <img
            src="https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/07e86c0d-6e7a-4747-e4f1-d58052ef9900/400x400"
            loading="eager"
            alt="Bay Chiropractic Center Building.">
        {{/if}}
        {{#if (media 'isWide')}}
          <source
            srcset="https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/07e86c0d-6e7a-4747-e4f1-d58052ef9900/800x800"
            loading="eager"
            alt="Bay Chiropractic Center Building."
            type="image/webp">
          <img
            src="https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/07e86c0d-6e7a-4747-e4f1-d58052ef9900/800x800"
            loading="eager"
            alt="Bay Chiropractic Center Building.">
        {{/if}}
        </picture>
      </span>
      <div local-class="wrong_url_page_information_container">
        <div local-class="wrong_url_page_copy">
            <h1><b>Wrong URL?</b></h1>
            <p>That's okay! We think you should take it as a sign to give us a call. The number is right at the top there. </p>
        </div>
        <div local-class="wrong_url_page_copy">

        </div>
        <footer local-class="wrong_url_page_footer_container">
          <Dynamic::Ui::Footer />
        </footer>
      </div>
    </main>
  </div>
</div>