<Dynamic::Ui::Navigation::Skip-Link />
<div local-class="about_page">
  <header local-class="about_page_header">
    <div local-class="about_page_logo_container">
      <Dynamic::Ui::Navigation::Logo />
    </div>
    {{#if (media 'isSmall')}}
    {{!-- template-lint-disable no-duplicate-landmark-elements --}}
    <nav local-class="about_page_mobile_navigation_container">
      <Dynamic::Ui::Navigation::Mobile
        @routeSlotOne={{this.welcomeRoute}}
        @routeSlotTwo={{this.servicesRoute}}
        @routeSlotThree={{this.aboutRoute}}
        @routeSlotFour={{this.visitRoute}} />
    </nav>
    {{/if}}
    {{#if (or (media 'isMedium') (media 'isLarge') (media 'isWide'))}}
    <nav local-class="about_page_desktop_navigation_container">
      <Dynamic::Ui::Navigation::Desktop
        @routeSlotOne={{this.welcomeRoute}}
        @routeSlotTwo={{this.servicesRoute}}
        @routeSlotThree={{this.aboutRoute}}
        @routeSlotFour={{this.visitRoute}} />
    </nav>
    {{/if}}
  </header>
  <div local-class="about_page_body">
    <main local-class="about_page__content_container">
      <span local-class="about_page__profile_container">
      <span local-class="profile__image_container">
        <picture>
        {{#if (media 'isSmall')}}
          <source
            srcset='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/05c7248e-2c55-4a38-f50f-b87c01921f00/300x300Contain'
            loading="eager"
            alt="Dr. Curtis and Monica standing next to each other and smiling."
            type="image/webp">
          <img
            src='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/05c7248e-2c55-4a38-f50f-b87c01921f00/300x300Contain'
            loading="eager"
            alt="Dr. Curtis and Monica standing next to each other and smiling.">
        {{/if}}
        {{#if (media 'isMedium')}}
          <source
            srcset='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/05c7248e-2c55-4a38-f50f-b87c01921f00/300x300Contain'
            loading="eager"
            alt="Dr. Curtis and Monica standing next to each other and smiling."
            type="image/webp">
          <img
            src='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/05c7248e-2c55-4a38-f50f-b87c01921f00/300x300Contain'
            loading="eager"
            alt="Dr. Curtis and Monica standing next to each other and smiling.">
        {{/if}}
        {{#if (media 'isLarge')}}
          <source
            srcset='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/05c7248e-2c55-4a38-f50f-b87c01921f00/300x300Contain'
            loading="eager"
            alt="Dr. Curtis and Monica standing next to each other and smiling."
            type="image/webp">
          <img
            src='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/05c7248e-2c55-4a38-f50f-b87c01921f00/300x300Contain'
            loading="eager"
            alt="Dr. Curtis and Monica standing next to each other and smiling.">
        {{/if}}
        {{#if (media 'isWide')}}
          <source
            srcset='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/05c7248e-2c55-4a38-f50f-b87c01921f00/300x300Contain'
            loading="eager"
            alt="Dr. Curtis and Monica standing next to each other and smiling."
            type="image/webp">
          <img
            src='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/05c7248e-2c55-4a38-f50f-b87c01921f00/300x300Contain'
            loading="eager"
            alt="Dr. Curtis and Monica standing next to each other and smiling.">
        {{/if}}
        </picture>
      </span>
      <span local-class="profile__copy_container">
          <h1><b>Dr. Blaine Curtis</b></h1>
          <p>Dr. Curtis is a classically trained chiropractor with a special interest in sports related injuries. He is a 1995 graduate of Northwestern College of Chiropractic, now called Northwestern Health Sciences University, in Bloomington, MN. He relocated back to Maine after graduation and set up practice in Rockland in May of 1996, where he has been ever since. Blaine grew up in Winterport, graduated from Hampden Academy, and then went to the University of Maine in Orono for undergraduate studies. He enjoys most sports, but loves biking and hockey, and is most at home treating fellow athletes of all ages and levels and is a past President of Rockland Rotary.</p>
        </span>
      </span>
      <span local-class="about_page__profile_container">
        <span local-class="profile__image_container">
          <picture>
          {{#if (media 'isSmall')}}
            <source
              srcset='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/b4276bb6-b27e-4b2d-6241-b8cdb7b2e200/300x300Contain'
              loading="eager"
              alt="Dr. Emma Davis sitting and smiling."
              type="image/webp">
            <img
              src='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/b4276bb6-b27e-4b2d-6241-b8cdb7b2e200/300x300Contain'
              loading="eager"
              alt="Dr. Emma Davis sitting and smiling.">
          {{/if}}
          {{#if (media 'isMedium')}}
            <source
              srcset='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/b4276bb6-b27e-4b2d-6241-b8cdb7b2e200/300x300Contain'
              loading="eager"
              alt="Dr. Emma Davis sitting and smiling."
              type="image/webp">
            <img
              src='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/b4276bb6-b27e-4b2d-6241-b8cdb7b2e200/300x300Contain'
              loading="eager"
              alt="Dr. Emma Davis sitting and smiling.">
          {{/if}}
          {{#if (media 'isLarge')}}
            <source
              srcset='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/b4276bb6-b27e-4b2d-6241-b8cdb7b2e200/300x300Contain'
              loading="eager"
              alt="Dr. Emma Davis sitting and smiling."
              type="image/webp">
            <img
              src='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/b4276bb6-b27e-4b2d-6241-b8cdb7b2e200/300x300Contain'
              loading="eager"
              alt="Dr. Emma Davis sitting and smiling.">
          {{/if}}
          {{#if (media 'isWide')}}
            <source
              srcset='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/b4276bb6-b27e-4b2d-6241-b8cdb7b2e200/300x300Contain'
              loading="eager"
              alt="Dr. Emma Davis sitting and smiling."
              type="image/webp">
            <img
              src='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/b4276bb6-b27e-4b2d-6241-b8cdb7b2e200/300x300Contain'
              loading="eager"
              alt="Dr. Emma Davis sitting and smiling.">
          {{/if}}
          </picture>
        </span>
        <span local-class="profile__copy_container">
          <h1><b>Dr. Emma Davis</b></h1>
          <p>Bay Chiropractic Center is proud to announce the addition of Dr. Emma Davis to our practice!</p>
          <p>Dr. Davis grew up in Rockland and graduated from St. Joseph's College before heading west to California and Oregon for her Doctoral studies. She is a recent graduate of the University of Western States and completed her internship here at our Rockland office in 2023. Dr. Davis takes a special interest in perinatal, pediatric, and whole-family wellness. She also has her certification in the Webster Technique. The Webster Technique is a specific chiropractic analysis and adjustment that reduces nervous system stress, balances pelvic bones, muscles and ligaments, and optimizes the mother's pelvic function in pregnancy and birth.</p>
          <p>Outside the office, she enjoys spending time with family (and her dog Sadie!), staying active, fly fishing, and backpacking.</p>
          <p>Dr. Davis is taking new patients and would be happy to discuss your needs. Call our office today to set up an appointment.</p>
        </span>
      </span>
      <span local-class="about_page__profile_container">
      <span local-class="profile__image_container">
        <picture>
        {{#if (media 'isSmall')}}
          <source
            srcset='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/bf187105-1f4c-4a5c-6894-cd9e9b409c00/300x300Contain'
            loading="eager"
            alt="Monica sitting and smiling."
            type="image/webp">
          <img
            src='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/bf187105-1f4c-4a5c-6894-cd9e9b409c00/300x300Contain'
            loading="eager"
            alt="Monica sitting and smiling.">
        {{/if}}
        {{#if (media 'isMedium')}}
          <source
            srcset='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/bf187105-1f4c-4a5c-6894-cd9e9b409c00/300x300Contain'
            loading="eager"
            alt="Monica sitting and smiling."
            type="image/webp">
          <img
            src='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/bf187105-1f4c-4a5c-6894-cd9e9b409c00/300x300Contain'
            loading="eager"
            alt="Monica sitting and smiling.">
        {{/if}}
        {{#if (media 'isLarge')}}
          <source
            srcset='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/bf187105-1f4c-4a5c-6894-cd9e9b409c00/300x300Contain'
            loading="eager"
            alt="Monica sitting and smiling."
            type="image/webp">
          <img
            src='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/bf187105-1f4c-4a5c-6894-cd9e9b409c00/300x300Contain'
            loading="eager"
            alt="Monica sitting and smiling.">
        {{/if}}
        {{#if (media 'isWide')}}
          <source
            srcset='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/bf187105-1f4c-4a5c-6894-cd9e9b409c00/300x300Contain'
            loading="eager"
            alt="Monica sitting and smiling."
            type="image/webp">
          <img
            src='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/bf187105-1f4c-4a5c-6894-cd9e9b409c00/300x300Contain'
            loading="eager"
            alt="Monica sitting and smiling.">
        {{/if}}
        </picture>
      </span>
      <span local-class="profile__copy_container">
        <h1><b>Monica</b></h1>
        <p>Monica is the person up front who does it all. She helps you set up, sign in, schedule visits, deal with paperwork, and so much more. If you have a question, she has the answer. Monica is also a licensed Chiropractic Assistant and performs many therapy modalities at the office when Dr. Curtis cannot. She enjoys biking, hiking, reading, and gardening in her time off, but her true love is being around animals. She is always ready with a treat whenever a 4-legged friend visits the office.</p>
      </span>
    </span>
    <span local-class="about_page__profile_container">
      <span local-class="profile__image_container">
        <picture>
        {{#if (media 'isSmall')}}
          <source
            srcset='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/4a994b5e-3058-4d0e-ed61-a5252375d400/300x300Contain'
            loading="eager"
            alt="Dr. Emma Davis sitting and smiling."
            type="image/webp">
          <img
            src='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/4a994b5e-3058-4d0e-ed61-a5252375d400/300x300Contain'
            loading="eager"
            alt="Dr. Emma Davis sitting and smiling.">
        {{/if}}
        {{#if (media 'isMedium')}}
          <source
            srcset='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/4a994b5e-3058-4d0e-ed61-a5252375d400/300x300Contain'
            loading="eager"
            alt="Dr. Emma Davis sitting and smiling."
            type="image/webp">
          <img
            src='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/4a994b5e-3058-4d0e-ed61-a5252375d400/300x300Contain'
            loading="eager"
            alt="Dr. Emma Davis sitting and smiling.">
        {{/if}}
        {{#if (media 'isLarge')}}
          <source
            srcset='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/4a994b5e-3058-4d0e-ed61-a5252375d400/300x300Contain'
            loading="eager"
            alt="Dr. Emma Davis sitting and smiling."
            type="image/webp">
          <img
            src='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/4a994b5e-3058-4d0e-ed61-a5252375d400/300x300Contain'
            loading="eager"
            alt="Dr. Emma Davis sitting and smiling.">
        {{/if}}
        {{#if (media 'isWide')}}
          <source
            srcset='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/4a994b5e-3058-4d0e-ed61-a5252375d400/300x300Contain'
            loading="eager"
            alt="Dr. Emma Davis sitting and smiling."
            type="image/webp">
          <img
            src='//imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/4a994b5e-3058-4d0e-ed61-a5252375d400/300x300Contain'
            loading="eager"
            alt="Dr. Emma Davis sitting and smiling.">
        {{/if}}
        </picture>
        </span>
        <span local-class="profile__copy_container">
          <h1><b>Emily </b></h1>
          <p>Emily is the new face at the front desk at Bay Chiropractic Center. She will help you check in, check out, and make appointments. In her previous life, she was a dance instructor and taught ballet and other dance styles in the area until 2021. Emily enjoys dancing, gardening, knitting, reading and listening to audiobooks, going on walks, traveling (especially to France), singing with Down East Singers, and spending time with her husband and her outdoor flock of chickens, ducks, and guinea fowl. She is also interested in all things pertaining to health and wellness.</p>
        </span>
      </span>
      <footer local-class="about_page__footer_container">
        <Dynamic::Ui::Footer />
      </footer>
    </main>
  </div>
</div>