<Dynamic::Ui::Navigation::Skip-Link />
<div local-class="about_page">
  <header local-class="about_page_header">
    <div local-class="about_page_logo_container">
      <Dynamic::Ui::Navigation::Logo />
      {{#if (media 'isSmall')}}
      <address local-class="contact_container" aria-label="Our phone number">
        <div local-class="phone_number">
          Call us (207) 596-6700
        </div>   
      </address>
      {{/if}}
    </div>
    {{#if (media 'isSmall')}}
    {{!-- template-lint-disable no-duplicate-landmark-elements --}}
    <nav local-class="about_page_mobile_navigation_container">
      <Dynamic::Ui::Navigation::Mobile 
        @routeSlotOne={{this.welcomeRoute}} 
        @routeSlotTwo={{this.servicesRoute}}
        @routeSlotThree={{this.aboutRoute}} 
        @routeSlotFour={{this.visitRoute}} />
    </nav>
    {{/if}}
    {{#if (or (media 'isMedium') (media 'isLarge') (media 'isWide'))}}
    <nav local-class="about_page_desktop_navigation_container">
      <Dynamic::Ui::Navigation::Desktop 
        @routeSlotOne={{this.welcomeRoute}} 
        @routeSlotTwo={{this.servicesRoute}}
        @routeSlotThree={{this.aboutRoute}} 
        @routeSlotFour={{this.visitRoute}} />
      <address local-class="contact_container" aria-label="Our phone number and email">
        <div local-class="phone_number">
          Call us (207) 596-6700
        </div>   
      </address>
    </nav>
    {{/if}}
  </header>
  <div local-class="about_page_body">
    <main local-class="about_page_content_container">

      <span local-class="about_page_profile_container">
        <span local-class="about_page_image_container">
          <picture>
          {{#if (media 'isSmall')}}
            <source 
              srcset='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/ffd1fba0-399a-418c-5d12-29da9525f800/432x175'
              loading="eager"
              alt="Dr. Curtis."
              type="image/webp">
            <img
              src='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/ffd1fba0-399a-418c-5d12-29da9525f800/432x175'
              loading="eager"
              alt="Dr. Curtis.">
          {{/if}}
          {{#if (media 'isMedium')}}
            <source
              srcset='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/664d1e0d-1cd9-42c4-366f-8da9b937c300/932x175'
              loading="eager"
              alt="Dr. Curtis."
              type="image/webp">
            <img
              src='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/664d1e0d-1cd9-42c4-366f-8da9b937c300/932x175'
              loading="eager"
              alt="Dr. Curtis.">
          {{/if}}
          {{#if (media 'isLarge')}}
            <source
              srcset='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/4eacb461-cec0-4b5a-b4a8-bf83186e1600/800x275'
              loading="eager" 
              alt="Dr. Curtis."
              type="image/webp">
            <img
              src='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/4eacb461-cec0-4b5a-b4a8-bf83186e1600/800x275'
              loading="eager"
              alt="Dr. Curtis.">
          {{/if}}
          {{#if (media 'isWide')}}
            <source
              srcset='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/4eacb461-cec0-4b5a-b4a8-bf83186e1600/800x275'
              loading="eager"
              alt="Dr. Curtis."
              type="image/webp">
            <img
              src='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/4eacb461-cec0-4b5a-b4a8-bf83186e1600/800x275'
              loading="eager"
              alt="Dr. Curtis.">
          {{/if}}
          </picture>
        </span>
        <span local-class="about_page_copy_container">
          <h1><b>Dr. Blaine Curtis</b></h1>
          <p>Dr. Curtis is a classically trained chiropractor with a special interest in sports related injuries. He is a 1995 graduate of Northwestern College of Chiropractic, now called Northwestern Health Sciences University, in Bloomington, MN. He relocated back to Maine after graduation and set up practice in Rockland in May of 1996, where he has been ever since. Blaine grew up in Winterport, graduated from Hampden Academy, and then went to the University of Maine in Orono for undergraduate studies. He enjoys most sports, but loves biking and hockey, and is most at home treating fellow athletes of all ages and levels and is a past President of Rockland Rotary and is still active with the club.</p>
        </span>
      </span>

      <span local-class="about_page_profile_container">
        <span local-class="about_page_image_container">
          <picture>
          {{#if (media 'isSmall')}}
            <source 
              srcset='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/ffd1fba0-399a-418c-5d12-29da9525f800/432x175'
              loading="eager"
              alt="Monica."
              type="image/webp">
            <img
              src='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/ffd1fba0-399a-418c-5d12-29da9525f800/432x175'
              loading="eager"
              alt="Monica">
          {{/if}}
          {{#if (media 'isMedium')}}
            <source
              srcset='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/664d1e0d-1cd9-42c4-366f-8da9b937c300/932x175'
              loading="eager"
              alt="Monica"
              type="image/webp">
            <img
              src='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/664d1e0d-1cd9-42c4-366f-8da9b937c300/932x175'
              loading="eager"
              alt="Monica">
          {{/if}}
          {{#if (media 'isLarge')}}
            <source
              srcset='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/4eacb461-cec0-4b5a-b4a8-bf83186e1600/800x275'
              loading="eager" 
              alt="Monica"
              type="image/webp">
            <img
              src='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/4eacb461-cec0-4b5a-b4a8-bf83186e1600/800x275'
              loading="eager"
              alt="Monica">
          {{/if}}
          {{#if (media 'isWide')}}
            <source
              srcset='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/4eacb461-cec0-4b5a-b4a8-bf83186e1600/800x275'
              loading="eager"
              alt="Monica"
              type="image/webp">
            <img
              src='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/4eacb461-cec0-4b5a-b4a8-bf83186e1600/800x275'
              loading="eager"
              alt="Monica">
          {{/if}}
          </picture>
        </span>
        <span local-class="about_page_copy_container">
          <h1><b>Monica</b></h1>
          <p>Monica is the person up front who does it all. She helps you set up, sign in, schedule visits, deal with paperwork, and so much more. If you have a question, she has the answer. Monica is also a licensed Chiropractic Assistant and performs many therapy modalities at the office when Dr. Curtis cannot. She enjoys biking, hiking, reading, and gardening in her time off, but her true love is being around animals. She is always ready with a treat whenever a 4-legged friend visits the office.</p>
        </span>
      </span>

        <footer local-class="about_page_footer_container">
          <Dynamic::Ui::Footer />
        </footer>
    </main>
  </div>
</div>