<span local-class="image_masonry_block">
  <span local-class="image_masonry_block_image_block">
    <span local-class="image_masonry_block_images_container a">
      <span local-class="image_container">
        <picture>
          <source
            srcset={{@imageOne}}
            loading="eager"
            alt={{@imageOneAltLabel}}
            type="image/webp">
          <img
            src={{@imageOneFallback}}
            loading="eager"
            alt={{@imageOneAltLabel}}>
        </picture>
      </span>
    </span>
    <span local-class="image_masonry_block_images_container b">
      <span local-class="image_container">
        <picture>
          <source
            srcset={{@imageTwo}}
            loading="eager"
            alt={{@imageTwoAltLabel}}
            type="image/webp">
          <img
            src={{@imageTwoFallback}}
            loading="eager"
            alt={{@imageTwoAltLabel}}>
        </picture>
      </span>
    </span>
    <span local-class="image_masonry_block_images_container c">
      <span local-class="image_container">
        <picture>
          <source
            srcset={{@imageThree}}
            loading="eager"
            alt={{@imageThreeAltLabel}}
            type="image/webp">
          <img
            src={{@imageThreeFallback}}
            loading="eager"
            alt={{@imageThreeAltLabel}}>
        </picture>
      </span>
      <span local-class="image_container">
        <picture>
          <source
            srcset={{@imageFour}}
            loading="eager"
            alt={{@imageFourAltLabel}}
            type="image/webp">
          <img
            src={{@imageFourFallback}}
            loading="eager"
            alt={{@imageFourAltLabel}}>
        </picture>
      </span>
    </span>
  </span>
</span>
